@font-face {
  font-family: "Grotzec";
  src: url("../fonts/GrotzecRegular.otf") format("opentype");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "Grotzec";
  src: url("../fonts/GrotzecCondDemi.otf") format("opentype");
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: "Museo";
  src: url("../fonts/museo-sans-cyrl-300.otf") format("opentype");
  font-display: auto;
}

@font-face {
  font-family: "SF";
  src: url("../fonts/SF-Pro-Text-Semibold.otf") format("opentype");
  font-display: auto;
}

@font-face {
  font-family: "Braggest";
  src: url("../fonts/Braggest.ttf") format("truetype");
  font-display: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: 'photo-quotes';
  src:  url('../fonts/photo-quotes.eot?earnus') format('embedded-opentype');
  src:  url('../fonts/photo-quotes.eot?earnus#iefix') format('embedded-opentype'),
  url('../fonts/photo-quotes.ttf?earnus') format('truetype'),
  url('../fonts/photo-quotes.woff?earnus') format('woff'),
  url('../fonts/photo-quotes.svg?earnus#photo-quotes') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'photo-quotes' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e910";
}
.icon-arrow-right:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
.icon-twi:before {
  content: "\e903";
}
.icon-insta:before {
  content: "\e904";
}
.icon-fb:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-filled-like:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-alphabet:before {
  content: "\e909";
}
.icon-like:before {
  content: "\e90a";
}
.icon-menu:before {
  content: "\e90b";
}
.icon-send:before {
  content: "\e90c";
}
.icon-repeat:before {
  content: "\e90d";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e912";
}

